# This file contains a list of patterns which git will check against on each
# 'git add' command and will ignore any matching files and folders.

# Compiled object files
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# libraries
*.so
*.dll
*.a
*.lib
liblomse*
*.tar.*

# executables
*.exe

# documentation building
*.py[co]
*.sw[nop]
.#*
[#]*#
__pycache__

# logs and temporary files
forensic_log*
lomse-log*
dbg_tables*
last-commit-msg*
*~
lenmus.db
lenmus.ini
*.bak

# my private files
zz_*
z_*
x_*

#books
books/src/L1_Dictation/
books/src/L1_MusicReading/syllabus.txt
books/src/L1_MusicReading/figures/fail*
books/src/L3_MusicReading/

#docs
docs/en/**/build
docs/en/**/drafts
docs/building/building_linux.txt
docs/building/linux_install_cppunit.txt
docs/building/maintaining-linux-package.txt
docs/building/sqlite-install.txt
docs/building/wxwidgets_valenti.txt
docs/en/hacking/advanced-math-guide.pdf
docs/en/hacking/short-math-guide.pdf
docs/en/hacking/source/help-guidelines.txt
docs/en/hacking/sphinx-markup-quick-guide.txt
docs/en/help/Makefile.new
docs/html/composer-algorithm-pitch-images/draft/
docs/html/composer-algorithm-pitch-images/problem1.png
docs/html/composer-algorithm-pitch.zip
docs/html/images/linux.gif
docs/html/images/winXP.jpg
docs/txt/sourceforge-news.txt
docs/txt/launchpad-announcement.txt

#supported languages
locale/en/books/L1_Dictation.lmb
locale/en/books/L3_MusicReading.lmb
locale/es/compendium_es.po
locale/eu/images/
locale/eu/study-guide_en.htm
locale/eu/study-guide_es.htm
locale/fr/images/
locale/gl_ES/images/
locale/it/images/
locale/kk/
locale/messages.po
locale/ru/
locale/messages.pot

#lomse
lomse/trunk/cmake-example-GetGitRevisionDescription.cmake
lomse/trunk/cmake-example-GetGitRevisionDescription.cmake.in
lomse/trunk/commit-lomse.sh
lomse/trunk/lomse-version-from-git.cmake
lomse/trunk/scripts/
lomse/trunk/src/tests

#packages
packages/wxSQLite3-2.8/
packages/wxSQLite3/lib/Readme.txt
packages/wxSQLite3/sqlite3/secure/
packages/wxXml2-old/
packages/wxXml2/

#partituras
partituras/

#resources
res/bitmaps/null.xpm
res/icons/drawing.svg
res/icons/total_marks.png
res/icons/wrong_answers.png
res/icons/wrong_answers.svg
res/icons/favicon.ico
res/sounds/midi-sample.mid
res/sounds/FluidR3_GM.sf2
res/fonts/

#scores
scores/

#scripts
scripts/cp-lomse
scripts/release/
scripts/synce-lomse.sh
scripts/web/issues-before-template.htm
scripts/web/issues.sh
scripts/web/messages.mo
scripts/web/sf-new-release.sftp
scripts/web/upload-issues.sh

#source files
src/dialogs/HSTempo.txt
src/properties/DlgEditText.cpp
src/properties/DlgEditText.h
src/properties/DlgTextStyles.cpp
src/properties/DlgTextStyles.h
src/properties/TextProperties.cpp
src/properties/TextProperties.h
src/tests/utests/UTest_Document.cpp
src/tests/utests/UTest_IdfyTonality.cpp
src/tests/utests/UTest_Layouter.cpp
src/widgets/Caret.cpp
src/widgets/Caret.h
src/widgets/MusicSymbolList.cpp
src/widgets/MusicSymbolList.h
src/widgets/Ruler.cpp
src/widgets/Ruler.h

#templates
templates/brass_quintet.lms
templates/brass_trio.lms
templates/choir_SATB.lms
templates/choir_SATB_piano.lms
templates/choir_SSA.lms
templates/choir_SSA_piano.lms
templates/ensembles.xml
templates/instruments.dat
templates/string_quartet.lms
templates/templates.txt
templates/woodwind_quintet.lms
templates/woodwind_trio.lms

#lomse files
lomse/trunk/scripts/

#garbage from MS VisualStudio
.vs/

#Mac specific stuff:
.DS_Store

