Source: lenmus
Section: x11
Priority: optional
Maintainer: Cecilio Salmerón <cecilios@users.sourceforge.net>
Build-Depends: libagg-dev (>=2.4), libfreetype6-dev, libportmidi-dev, 
	libsqlite3-dev (>=3.6.10), libwxgtk2.8-dev (>=2.8.0),
	libunittest++-dev (>=1.4.0)
Standards-Version: 3.8.1
Homepage: http://www.lenmus.org

Package: lenmus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A free program to learn music
 LenMus is a free program for learning music theory. It
 allows you to focus on specific skills and exercises,
 on both theory and aural training. The different
 activities can be customized to meet your needs, and it
 provides interactive feedback until mastery of each
 concept is achieved. It also includes an score editor.
