body {
    font-size: 0.75em;
    margin: 0em auto;
    padding: 4em;
    background: #ffffff url(../images/bg12.png) top center repeat-y;
    font-family: Verdana,Tahoma,Arial,sans-serif;
    /*text-align: center;     patch for MSIE5 */
    text-align: left;
}

p, em, code, pre[name], table, tr, td, strong {
    font-family: inherit;
}

#wrap {
    width: 800px;
    margin: 0em auto;
    padding: 0em;
    background: #7f8bdc url(../images/navbg7.jpg) no-repeat left top;
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    text-align: left;     /* patch for MSIE5 */
}

/*** Correction for non-IE browsers ***/
#wrap {
    overflow: hidden;
}

/*** Correction for IE 5.01 ***/
#wrap {
/*  float: left; */
    float: none;
}

/*** Correction for Safari 1.x ***/
* > #footer, * > form, * > #notes, * > .output {
    position: relative;
    z-index: 1000;
}

h1, h2, h3, h4, h5 {
    margin: 1em 0px 0.2em; 
    border-bottom: #ccc 1px solid; 
    font-weight: bold;
    color: #7f8bdc;
}
h1 {font-size: 160%; }
h2 {font-size: 120%; }
h3 {font-size: 100%; }
h4 {font-size: 90%; }
h5 {font-size: 90%; }

a:link {
    color: #fe6903;
}
a:visited {
    color: #fe6903;
}
a:hover {
    color: #ff0000;
}
a[name] {
    color: inherit;
    text-decoration: inherit;
}
a:active {
    color: #000
}

/*************************/
/***   Header          ***/
/*************************/


#lm-header {
    background: url(../images/header-bg10.jpg) repeat-x left top;
    height: 60px;
    border: none;
}
#lm-header-logo {
    height: 60px;
    width: 400px;
    background: url(../images/header-text10.jpg) no-repeat left top;
}

#lm-header-items {
    text-align: right;
    height: 60px;
    background: url(../images/header-text10.jpg) no-repeat left top;
}
#lm-header-items ul {
    margin: 0;
    height: 1em;
    width: auto;
    list-style-type: none;
}
#lm-header-items li {
    display: inline;
    margin-top: 40px;
    padding: 0;
    padding-right: 0px;
    white-space: nowrap;
    float: right;
}
#lm-header-items ul a {
    display: block; 
    padding-right: 0;
    padding-left: 0; 
    font-weight: bold;
    color: #ffffff;
    text-decoration: none
}
#lm-header-items a:hover {
    color: #000;
}



/*************************/
/***   Header nav bar  ***/
/*************************/

/* A horizontal navigation bar below the banner */

#lm-nav {
    margin: 0;
    padding: 0;
    background-color: #ff8000;  /*#22437f;*/
    font-size: 0;
    height: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #f5f5f5;
}
#lm-nav ul {
    margin: 0;
    padding: 0;
}
#lm-nav li {
    display: inline;
    list-style: none;
    padding: 0 5pt;
}
#lm-nav li + li {
    padding-left: 8pt;
    border-left: 1px solid #99a5bf;
}
#lm-nav a {
    color: #c5ccdb;
    text-decoration: none;
}
#lm-nav a:hover {
    color: #fff;
}


/***********************/
/***   Left column   ***/
/***********************/

#lm-side-left {
    float: left;
    z-index: 2;
    width: 165px;
    margin-top: 20px;
    font-size: 1em;
}

/**************************************/
/***   Left-side naviagation menu   ***/
/**************************************/

#lm-left-menu {
    width: 140px;
    margin-left: 10px;
    margin-top: 20px;
    background: transparent url(../images/semi2x2.png);
}

#lm-side-nav {
    padding: 0px; 
    MARGIN: 0px; 
    LIST-STYLE-TYPE: none;
    MARGIN-BOTTOM: 1em;
    LINE-HEIGHT: 1em
}
#lm-side-nav ul {
    padding-right: 0px; 
    padding-left: 0px; 
    padding-bottom: 0px; 
    MARGIN: 0px; 
    padding-top: 0px; 
    LIST-STYLE-TYPE: none;
    background: transparent;
}

#lm-side-nav li {
    display: inline; 
    padding-right: 0px; 
    padding-left: 0px;
    padding-bottom: 0px; 
    MARGIN: 0px; 
    padding-top: 0px;
    color: #1C2567
}

#lm-side-nav li a, span.lm-side-nav {
    display: block; 
    font-size: 90%;
    padding-right: 1em;
    padding-left: 1em; 
    background: transparent;
    padding-bottom: 2px;
    padding-top: 0px;
    text-decoration: none;
    font-weight: bold;
}

#lm-side-nav li.inactive, ul.inactive {
    display: none;
    border: 1px solid #ff0000;      /* for debugging, when "display: none;" commented out */
}

#lm-side-nav li a:hover {
    background: #ffe5ce;   /*dfe1e7;*/
}

#lm-side-nav li a:link {
    color: #000;    /*1C2567*/
}

#lm-side-nav li a:visited {
    color: #1C2567
}

#lm-side-nav li li a {
    padding-left: 2em;
    font-weight: normal;
}

/**********************/
/***   search box   ***/
/**********************/

.lm-search-box {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 60%;
}
.searchTextCtrl {
    width: 80%;
}
.searchBtn {
    margin-top: 0.5em;
    width: 140px;
}

/******************************/
/***   left column blocks   ***/
/******************************/

#lm-left-side-block {
    margin-left: 10px;
    padding-top: 10px; 
    padding-bottom: 0px;
    PADDING-RIGHT: 0px;
    BORDER: none;
    width: 155px;
    background: transparent;
}

#lm-left-side-block a {
    WHITE-SPACE: nowrap;
}

a#wxWidgets {
    display: block;
    height: 49px;
    background: url(../images/builtwithwx.png) no-repeat left;
}

a#Doxygen {
    display: block;
    height: 39px;
    background: url(../images/doxygen_logo2.jpg) no-repeat left;
}

a#NoPatents {
    display: block;
    height: 70px;
    background: url(../images/noswpat.png) no-repeat left;
}

a#OSI_Certified {
    display: block;
    height: 31px;
    background: url(../images/open_source_logo_31x88.png) no-repeat left;
}




/******************************/
/***   content containers   ***/
/******************************/

#lm-content-wrapper {
    font-size: 1em;
    float: left;
    width: 623px;           /* 623 = 800 (wrap) - 165 (left column) - 12 (border right) */
    min-width: 120px;
    z-index: 3; /* content can overlap when the browser is narrow */
    border-right: 12px solid #ebf77d;
    margin: 0;
    padding: 0;
    background-color: #fff;
    min-height: 773px;
}

#lm-content {
    padding: 16px;
    padding-left: 24px;
    padding-right:0px;
    margin-right:18px;
    /* width: 575px;            575 = 623 (content-wrapper) - 24 (padding-left) - 24 (padding-right)*/
    /*border: 1px solid #ff0000;*/
}

#lm-content-left {
    clear: left;
    float: left;
    margin 0;
    padding: 0px;
    padding-left: 0px;
    width: 380px;
}

/************************/
/***   Right column   ***/
/************************/

#lm-side-right {
    float: right;
    z-index: 1;
    width: 155px;
    padding-top: 3px;
    top: 60px;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 0.9em;
}
.lm-side-right-content {
    padding: 0px;
    margin-top: 10px;
    width: 150px;
}
#lm-side-right ul {
    list-style: square inside;
    padding: 0;
    margin: 0;
}
#lm-side-right h1,
#lm-side-right h2,
#lm-side-right h3 {
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.1em;
}




/************************/
/***   Footer         ***/
/************************/


#lm-footer {
    float: left;
    width: 800px;
    font-size: 0.75em;
    text-align: center;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 3em;
    border-top: 12px solid #ebf77d;
    left: 0px;
}
#lm-footer a {
    color: #fff;
    font-weight: bold;
}
#lm-footer a:hover, {
    color: #ff0000;
}


/******************************/
/***   DocBook              ***/
/******************************/

code, pre, tt {
    font-family: Courier, "Courier New", monospace;
}

.example {
    padding-left: 1em;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f4f4f4;
    border: none;
}

q.example {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    background-color: #f4f4f4;
    border: none;
}

pre.ldpcode {
    margin: 5px 0;
    padding-right: 2px;
    padding-left: 2px;
    background-color: #f4f4f4;
    border: none;
}

span.t {    /* terminal symbols */
    color: blue;
    font-weight: bold;
}
span.nt {   /* non-terminal symbols */
    color: Green;
    font-weight: normal;
    font-style: italic;
}

.grid {
    border : 1px solid #bbbbbb;
    padding : 4px;
    border-collapse: collapse;
}

.indent {
    margin: 0 2em;
}

table.productionset,
tbody.productionset,
thead.productionset,
tfoot.productionset,
tr.productionset,
.productionset td{
    background: #ffffff;    /*   f4f4ff;*/
    border: none; 
}

.productionset a:link,
.productionset a:visited {
    color: Green;
}
.productionset a:hover,
.productionset a:active {
    color: Red;
}

em.replaceable code, em.replaceable  {    /* non-terminal symbols */
    color: Green;
    font-weight: normal;
    font-style: italic;
    font-family: inherit;
    font-size: 1em;
}

strong.command {    /* terminal symbols */
    color: #000080;   /* dark blue;*/
    font-weight: bold;
}

.important, .warning, .note, .tip {
    padding-left: 2em;
    padding-right: 1em;
    margin-left: 0em;
    margin-right: 0em;
}
.warning {
    background-color:#fcf6f6;
    border: 1px solid #ffbbbb;
}
.important {
    background-color:#f4f4ff;
    border: 1px solid #bbbbff;
}
.note {
    background-color:#f0fafa;
    border: 1px solid #bbbbbb;
}
.tip {
    background-color:#fbfff6;
    border: 1px solid #bbbbbb;
}

pre.programlisting {
    background-color:#f6f6f6;
    font-family: Courier, monospace;
    font-size: 1em;
    overflow: auto;
    overflow-y: hidden;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
}

.term {
    font-weight: bold;
}

dd {
    margin-bottom: 12px;
}


/******************************/
/***   LenMus               ***/
/******************************/


p.last_update {
    text-align: right;
    padding-top: 5em;
    font-size: 80%;
}

p.translator {
    text-align: right;
    padding-top: 0;
    font-size: 80%;
}

.grid {
    border : 1px solid #bbbbbb;
    padding : 4px;
    border-collapse: collapse;
}

table, td, tr {
    font-size: 100%;
}

.Lista {
    border : 1px solid #7f8adc;
    padding : 0px;
    border-collapse: collapse;
    font-size: 100%;
}

.ListaImpar {
    background-color : #dfe1f7;
    border : 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    font-size: 100%;
}

.ListaPar {
    background-color : #ffffff;
    border: 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    font-size: 100%;
}

/* so that images in text have no border */
:link img {
    border: 0px;
}
:visited img {
    border: 0px;
}

/* elementos con class para paginas específicas */
h1.TituloPagina {
    COLOR: #7f8bdc; MARGIN: 0em; FONT: bold 160% Verdana;
}


/******************************/
/***   Contact page         ***/
/******************************/

tr.contact {
    display: none;
}

/******************************/
/***   LenMus - News        ***/
/******************************/

p.news_headline {
    COLOR: #7f8bdc; font: bold 120% Verdana;
    MARGIN-TOP: 20px;
    margin-bottom: 0px;
    /*BORDER-BOTTOM: #ccc 1px solid;*/
}

p.news_date {
    COLOR: #7f8bdc; font: normal 80% Verdana;
    MARGIN: 0px;
}

p.news_date2 {
    COLOR: #7f8bdc; font: normal 100% Verdana;
    MARGIN-TOP: 10px;
}

p.news_text {
    COLOR: #000; font: normal 100% Verdana;
    MARGIN: 0px;
}

a.news_link {
    text-decoration: none;
    COLOR: #7f8bdc;
}

a.news_link:hover {
    text-decoration: none;
    color: #ff0000;
}

/******************************/
/***   Translations pages   ***/
/******************************/

table.translations {
    /* border: 1px solid #7f8adc; */
    font-size: 100%;
    width: 500px;
}

td.trans, td.graph, td.center
{
    text-align: center;
}

td.langname
{
    font-weight: bold
}

td.book
{
    width: 50%;
}

table#translations_details  {
    /* border: 1px solid #7f8adc; */
    font-size: 100%;
    width: 550px;
}

#translations_details .odd {
    background-color : #ecf0f7;
    border : 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    font-size: 100%;
}

#translations_details .even {
    background-color : #f7f9fc;
    border: 1px solid #7f8adc;
    padding-left : 0.5em;
    padding-right : 0.5em;
    padding-top : 0.5em;
    padding-bottom : 0.5em;
    font-size: 100%;
}

#translations_details .column-1 {
    width: 28%;
}

#translations_details .column-name {
    color: #0000ff;
    font-weight: bold
}

/******************************/
/***   Articles             ***/
/******************************/
P.credits {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
    font-weight: normal;
    font-size: 100%;
    
}

P.toc {
    margin-left: 5em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: left;
    font-weight: bold;
}

A.toc_level1 {
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 0em;
    text-align: left;
}

A.toc_level2 {
    margin-left: 8em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    text-align: left;
}

A.toc_level3 {
    margin-left: 11em;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: left;
}

A.toc_level4 {
    margin-left: 14em;
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: left;
}

HR.copyright {
    margin-top: 2em;
    margin-bottom: 0em;
}

P.copyright {
    margin-top: 0em;
    margin-bottom: 2em;
    text-align: center;
    font-weight: normal;
    font-size: 100%;
    
}

P.FigureTitle {
    margin-top: 1em;
    margin-bottom: 3em;
    text-align: center;
    font-style: italic;
    
}

H1.article {
    MARGIN: 1em 0px 0.2em; 
    COLOR: #7f8adc;
    FONT-WEIGHT: bold; FONT-SIZE: 180%;
    text-align: center;
    border-bottom: none; 
}
H2.article {
    MARGIN: 3em 0px 0.2em; 
    COLOR: #1C2567;
    FONT-WEIGHT: bold; FONT-SIZE: 150%;
    border-bottom: 1px #cccccc solid;
}
H3.article {
    MARGIN: 3em 0px 0.2em;
    COLOR: #1C2567;
    FONT-SIZE: 150%;
    font-style: italic;
    border-bottom: 1px #cccccc solid;
}
H4.article {
    MARGIN: 2.5em 0px 0.2em; 
    BORDER-BOTTOM: #ccc 1px solid; 
    color: #1C2567;
    FONT-SIZE: 130%;
    border-bottom: 1px #cccccc solid;
}

IMG.figure {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0em;
    border: 1px #cccccc solid;
}

P.justified {
    text-align:justify;
}


span.rem  {color:#4c8d00;}
span.kw1  {color:#000d8e; font-weight: bold;}
span.kw2  {color:#0075ca;}
span.kw3  {color:#004645;}
span.kw4  {color:#673517;}
span.op   {color:#4a006d;}
span.str  {color:#ab2500;}
span.num  {color:#a74c3f;}

table.simpletable {
    border-collapse: collapse;
    margin: auto; 
}
tbody.simpletable,
tr.simpletable,
td.simpletable {
    background: #f4f4ff;
    border: 1px solid #ffffff;
    padding-left : 1em;
    padding-right : 1em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
}

th.simpletable {
    background: #7f8adc;
    border: 1px solid #ffffff;
    padding-left : 1em;
    padding-right : 1em;
    padding-top : 0.2em;
    padding-bottom : 0.2em;
}

